.category-blog{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blogcard{
    margin-top: 40px;
}
.home{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.home a{
    text-decoration: none;
}
.content{
    font-size: 1.3rem;
    margin: 1% 0%;
}

@media (max-width: 400px){
    .content{font-size: 1.1rem;}
}
@media (min-width: 400px) and (max-width: 768px){
    .content{font-size: 1.2rem;}
    
}
@media (min-width: 769px) and (max-width: 1024px) {
    .content{font-size: 1.2rem;}
}
@media (min-width: 1024px) {
    .content{font-size: 1.3rem;}
   
}