.category-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
    margin: 3% 8% 2% 8%;
    padding-bottom: 8px;
    border-bottom: 2px solid rgb(195, 195, 177);
}
.category-card{
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(210, 218, 218 ,0.25);
    color: rgba(96, 99, 99, 1);
    padding: 10px 20px;
}
.category-card:hover{
    color: black;
    text-decoration: underline;
    text-underline-offset: 23px;
    background-color: rgb(210, 218, 218 ,0.5);
}

@media (max-width: 400px){
    .category-div{display: none;}
}
@media (min-width: 400px) and (max-width: 768px){
    .category-div{display: none;}
    
}
@media (min-width: 769px) and (max-width: 1024px) {
    .category-div{
        width: 75%;
    }
    
}
@media (min-width: 1024px) {
    .category-div{
        width: 75%;
    }
   
}